#Crystallise
NEXT_PUBLIC_CRYSTALLIZE_TENANT_IDENTIFIER=
CRYSTALLIZE_SECRET_TOKEN_ID=
CRYSTALLIZE_SECRET_TOKEN=

#Shop Config
NEXT_PUBLIC_TOWN=Worthing
NEXT_PUBLIC_SHOP_NAME=My Shop
NEXT_PUBLIC_SHOP_PHONE=0777777777
NEXT_PUBLIC_SHOP_SUBDOMAIN=my-shop
NEXT_PUBLIC_SHOP_EMAIL=shop-example@email.com
NEXT_PUBLIC_LOQL_EMAIL=loql-example@email.com
NEXT_PUBLIC_ORDER_COLLECTION=true/false

#Stripe keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_ACCOUNT_ID=
STRIPE_SECRET_KEY=

#Sendgrid
SENDGRID_API_KEY=
